/**
 * @file Root.scss
 */

@import '~alcedo-ui/Theme/default.scss';
@import '~alcedo-ui/PageLoading/PageLoading.scss';

body {
    margin: 0;
}

.root {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    padding: 24px;

    .page-loading {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
    }

    .menu {
        padding: 24px;
        background: #f0f0f0;
        border-radius: 24px;

        a {
            line-height: 40px;
            color: #333;
        }
    }

    .content {
        flex: 1;
        padding: 24px;
    }
}
