{
    "env": {
        "node": true,
        "browser": true,
        "commonjs": true,
        "es6": true,
        "amd": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:jest/recommended"
    ],
    "plugins": [
        "@typescript-eslint/eslint-plugin",
        "jest"
    ],
    "root": true,
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "extends": [
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": true
            },
            "rules": {
                "@typescript-eslint/no-explicit-any": 0,
                "@typescript-eslint/no-unsafe-member-access": 0,
                "@typescript-eslint/no-unsafe-call": 0,
                "@typescript-eslint/no-unsafe-return": 0,
                "@typescript-eslint/no-unsafe-assignment": 0,
                "@typescript-eslint/no-unsafe-argument": 0
            }
        }
    ],
    "rules": {
        "no-prototype-builtins": 0,
        "quotes": [
            2,
            "single",
            "avoid-escape"
        ]
    }
}
