/**
 * @file Pyramid.scss
 */

.pyramid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px;

    .pyramid-row {
        display: flex;
        justify-content: center;
        align-content: center;

        .pyramid-cell {
            width: 80px;
            height: 80px;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin: 16px;
            text-align: center;
            line-height: 80px;
            font-size: 40px;

            &.error {
                border: 1px solid #f00;
                background: #fee;
            }
        }
    }
}
