/**
 * @file Root.scss
 */

body {
    margin: 0;
}

.root {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    padding: 24px;

    .menu {
        padding: 24px;
        background: #f0f0f0;
        border-radius: 24px;

        a {
            line-height: 40px;
            color: #333;

            &.activated {
                color: #00f;
            }
        }
    }

    .content {
        flex: 1;
        padding: 24px;
    }
}
