/**
 * @file Counter.scss
 */

body {
    margin: 0;
}

.root {
    padding: 24px;
    border: 1px solid #aaa;
    margin: 24px;

    input {
        box-sizing: border-box;
        height: 40px;
        padding: 8px;
        margin: 16px 16px 0 24px;
    }

    button {
        box-sizing: border-box;
        width: 160px;
        height: 40px;
    }

    .modules {
        display: flex;

        & > * {
            flex: 1;
            padding: 24px;
            border: 1px solid #aaa;
            margin: 24px;
        }
    }
}
