/**
 * @file Root.scss
 */

body {
    margin: 0;
}

.counter,
.counter-updater {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 24px;

    input {
        box-sizing: border-box;
        width: 135px;
        height: 40px;
        padding: 8px;
    }

    button {
        box-sizing: border-box;
        width: 80px;
        height: 40px;
        margin-left: 16px;

        &.update-button {
            width: 176px;
        }
    }
}
