/**
 * @file UserList.scss
 */

body {
    margin: 0;
}

.user-list {
    padding: 24px;

    .search {
        input {
            margin: 0 8px;
        }
    }

    .result {
        padding: 24px;
        background: #f0f0f0;
        margin-top: 24px;
    }
}
