/**
 * @file Calculation.scss
 */

body {
    margin: 0;
}

.calculation {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 64px;

    .row {
        display: flex;
        justify-items: flex-end;
        align-items: center;
    }

    input {
        box-sizing: border-box;
        width: 160px;
        height: 64px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 8px 0 8px 16px;
        text-align: right;
        font-size: 24px;
    }

    hr {
        width: 100%;
    }
}
